<!-- Navigation -->
.navbar{
	padding: .8rem;
	font-size: 100px;
	background-color: red;
}

.navbar-nav li{
	padding-right: 20px;
	position: relative;
}

.nav-link{
	font-size: 1.9em !important;
}

.navbar-brand{
font-family: 'Poppins', sans-serif;	 
}

.wrapper {
 
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 2px;
  
}

.section {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-shadow: 0 0 5px #000;
}

.parallax::after {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  transform: translateZ(-1px) scale(1.5);
  background-size: 100%;
  z-index: -1;
}

.parallax li {
	font-family: 'ZCOOL QingKe HuangYou', cursive;
	position: relative;
	float: right;
	font-size: 20px;
}

.parallax img{
object-fit: cover;
opacity: 0.50;
}

.static {
  background-color:#282e34;
  color:#ddd;
}

.static h1 {
	font-size: 25px;
	position: absolute;
	font-family: 'ZCOOL QingKe HuangYou', cursive;

}

.bg1::after {
}

.bg2::after {
  background-image: url(Mustang.jpeg);
  opacity: 0.50;
  object-fit: cover;
  height: 100%;

}

.bg2 li {

}
