<!-- Navigation -->
.navbar{
	padding: .8rem;
	font-size: 100px;
}

.navbar-nav li{
	padding-right: 20px;
	position: relative;
}

.nav-link{
	font-size: 1.9em !important;
}

.navbar-brand{
font-family: 'Poppins', sans-serif;	 
}

.wrapper {
 
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 2px;
  opacity: 0.70;
}

.section {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-shadow: 0 0 5px #000;
}

.parallax::after {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  transform: translateZ(-1px) scale(1.5);
  background-size: 100%;
  z-index: -1;
}

.static {
  background-color:#282e34;
  color:#ddd;
}

.bg1::after {
  background-image: url(Ferrari.jpg);
}

.bg2::after {
  background-image: url(shelby.jpg);
}